<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace="solvd.projects.database.dbservice.mybatis.mappers.IUniversitiesMapper">

    <resultMap id="UniversitiesResult" type="Universities">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="siteAddress" column="site_address"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="getById" parameterType="Long" resultMap="UniversitiesResult">
        SELECT * FROM universities WHERE id =#{id}
    </select>

    <select id="getAllUniversities" resultMap="UniversitiesResult">
        SELECT * FROM universities
    </select>

    <insert id="insert" parameterType="Universities" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT INTO universities(name,address,site_address,email)
        VALUES (#{name},#{address},#{siteAddress},#{email})
    </insert>

    <update id="update" parameterType="Universities">
        UPDATE universities
        SET
        name = #{name},
        address = #{address},
        site_address = #{siteAddress},
        email =#{email}
        WHERE id =#{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM universities WHERE id= #{id}
    </delete>




</mapper>