<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="solvd.projects.database.dbservices.mybatis.mappers.IViceRectorsMapper">

    <select id="getById" parameterType="Long" resultMap="ViceRectorsResult">
        SELECT * FROM vice_rectors WHERE id =#{id}
    </select>

    <resultMap id="ViceRectorsResult" type="ViceRectors">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="surname" column="surname"/>
        <result property="age" column="age" />
        <result property="phoneNumber" column="phone_number"/>
        <result property="address" column="address"/>
        <result property="email" column="email"/>
        <result property="universitiesId" column="Universities_id"/>
    </resultMap>

    <select id="getAllViceRectors" resultMap="ViceRectorsResult">
        SELECT * FROM vice_rectors
    </select>

    <insert id="insert" parameterType="ViceRectors" useGeneratedKeys="true"
            keyProperty="id" >
        INSERT INTO vice_rectors(name,surname,age,phone_number,address,email,Universities_id)
        VALUES (#{name},#{surname},#{age},#{phoneNumber},#{address},#{email},#{universitiesId})
    </insert>

    <update id="update" parameterType="ViceRectors">
        UPDATE vice_rectors
        SET
        name = #{name},
        surname = #{surname},
        age = #{age},
        phone_number =#{phoneNumber},
        address =#{address},
        email =#{email},
        Universities_id = #{universitiesId}
        WHERE id =#{id}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM vice_rectors WHERE id= #{id}
    </delete>

</mapper>