<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
        PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
    <properties resource="database.properties"/>
    <typeAliases>
        <typeAlias type="solvd.projects.database.models.Students" alias="Students"/>
        <typeAlias type="solvd.projects.database.models.Universities" alias="Universities"/>
        <typeAlias type="solvd.projects.database.models.Rectors" alias="Rectors"/>
        <typeAlias type="solvd.projects.database.models.ViceRectors" alias="ViceRectors"/>
        <typeAlias type="solvd.projects.database.models.Deccans" alias="Deccans"/>
        <typeAlias type="solvd.projects.database.models.Lectors" alias="Lectors"/>
        <typeAlias type="solvd.projects.database.models.Faculties" alias="Faculties"/>
        <typeAlias type="solvd.projects.database.models.Specialties" alias="Specialties"/>
        <typeAlias type="solvd.projects.database.models.Subjects" alias="Subjects"/>
        <typeAlias type="solvd.projects.database.models.TypeLectures" alias="TypeLectures"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                 <property name="defaultReadOnly" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${userName}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatisfiles/mappersfiles/UniversitiesMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/StudentsMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/RectorsMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/ViceRectorsMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/DeccansMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/LectorsMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/FacultiesMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/SpecialtiesMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/SubjectsMapper.xml"/>
        <mapper resource="mybatisfiles/mappersfiles/TypeLecturesMapper.xml"/>
    </mappers>
</configuration>